
$base-text-color: #333;
$light-text-color: #BBB;
$border-color: #DDD;

$body-bg-color: #eee;

$merchant-text-color: $light-text-color;
$list-price-text-color: $base-text-color;
$sale-price-text-color: #97292c;
