@import "vars";

html {
    font-size: 0.875em; /* 14px */
}

body {
    background: $body-bg-color;
    font-family: sans-serif;
    color: $base-text-color;
}

.container {
    margin: 40px auto 0 auto;
    box-sizing: border-box;
    font-weight: 200;
    line-height: 1.25em;
    background-color: #fff;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: $border-color 1px solid;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h1, h2, h3 {
    line-height: 1.3em;
}

.products {
    .merchant {
        color: $merchant-text-color;
    }
    .listing {
        padding: 0;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        > li {
            padding: 0;
            list-style-type: none;
            width: 200px;
            margin: 10px;
            float: left;
            > a {
                color: inherit;
                text-decoration: none;
                display: block;
                height: 315px;
                position: relative;
            }
            .regularPrice, .saleIcon, .editorsPickIcon {
                display: none;
            }
            .productPhoto {
                position: relative;
                line-height: 0;
            }
            &.sale {
                .regularPrice {
                    display: inline;
                }
                .saleIcon {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .salePrice {
                    color: $sale-price-text-color;

                }
            }
            &.editorsPick {
                .editorsPickIcon {
                    display: block;
                    position: absolute;
                    bottom: 3px;
                    right: 3px;
                }
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
        h2 {
            font-size: .95rem;
            margin: 5px 0 2px 0;
        }
        h3 {
            font-size: .9rem;
            margin: 0 0 5px 0;
            font-weight: normal;
        }
        .price {
            color: $list-price-text-color;
            font-size: .85rem;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .salePrice {
            margin-right: 3px;
            font-size: 1.3rem;
            font-weight: bold;
        }
        .listPrice {
            text-decoration: line-through;
        }
    }
}

@media all and (min-width: 920px) {
    .container {
        width: 920px;
    }
}